.feynman {
  position: relative;
  min-height: 790px;
  padding-top: 80px;
  background: url('./images/feynman.png') no-repeat left bottom / 867px 637px;
  text-align: center;
  background-color: #f2f2f2;
}
